* {
    font-family: sans-serif;
}

body {
    background-color: rgb(247, 240, 224);
}

h1, h2 {
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #C54390; 
    text-align: center;
    margin: 10px;
}

h1 {
    font-size: 60px;
    margin-top: 15px;
    font-style: italic;
}

p, ol, ul, a {
    margin: 5px;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: 50 100;

}

a, button {
    background-color: #FFC7DA;
    color: #0E387A;
    font-weight: 900;
    margin: 5px;
    padding: 15px 60px;
    border-radius: 10px;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.day-cards {
    background-image: url(./assets/beachBlanket.png);
    background-repeat: no-repeat;
    background-size: 1000px;
    min-height: 518px;
    min-width: 1000px;
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.day-description {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFF;
    border: solid #359BBF 3px;
    border-radius: 30px;
    padding: 10px;
}

img {
    margin: 12px;
    width: 250px; 
}

footer,
header {
    display: flex;
}